<h3>All Properties</h3>
<hr>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">Zones</th>
        <th scope="col">Contracts</th>
        <th scope="col" class="currency">Estimated Monthly Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a routerLink="/propert-overview">Steel Processing (Pta)</a></td>
        <td>1200m<sup>2</sup></td>
        <td>5</td>
        <td>2</td>
        <td class="currency">R 64,000.00</td>
      </tr>
      <tr>
        <td>Granny Flat (Centurion)</td>
        <td>45m<sup>2</sup></td>
        <td>1</td>
        <td>1</td>
        <td class="currency">R 700.00</td>
      </tr>
      <tr>
        <td>Storage Container</td>
        <td>12m<sup>2</sup></td>
        <td>1</td>
        <td>1</td>
        <td class="currency">R 2,000.00</td>
      </tr>
      <tr>
        <th scope="col" class="foot"></th>
        <th scope="col" class="foot">1257<sup>2</sup></th>
        <th scope="col" class="foot">7</th>
        <th scope="col" class="foot">4</th>
        <th scope="col" class="foot currency">R 66,700.00</th>
      </tr>
    </tbody>
</table>
  