<h3>All Properties</h3>
<hr>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">Zones</th>
        <th scope="col">Contracts</th>
        <th scope="col" class="currency">Estimated Monthly Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prop of properties">
        <td><a [routerLink]="['/properties', prop.Id]">{{prop.Name}}</a></td>
        <td>{{prop.Area}}m<sup>2</sup></td>
        <td>{{prop.ZoneCount}}</td>
        <td>{{prop.ContractCount}}</td>
        <td class="currency">R{{prop.EstimatedMonthlyCost|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <th scope="col" class="foot"></th>
        <th scope="col" class="foot">{{reduce("Area")}}m<sup>2</sup></th>
        <th scope="col" class="foot">{{reduce("ZoneCount")}}</th>
        <th scope="col" class="foot">{{reduce("ContractCount")}}</th>
        <th scope="col" class="foot currency">R{{reduce("EstimatedMonthlyCost") | number:"1.2-2"}}</th>
      </tr>
    </tbody>
</table>
  