<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 20rem;" routerLink="/masterdata">
            <div class="card-body">
                <h5 class="card-title">Master Data</h5>
                <h6 class="card-subtitle mb-2 text-muted">Update and capture master data</h6>
                <a routerLink="/masterdata">Go > </a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Properties</h5>
                <h6 class="card-subtitle mb-2 text-muted">Update and capture property data</h6>
                <a routerLink="/properties/overview">Go > </a>
            </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Contracts</h5>
                <h6 class="card-subtitle mb-2 text-muted">Update and capture contract & tenant</h6>
                <a routerLink="/contracts">Go > </a>
            </div>
        </div>
      </div>
    </div>
  </div>